* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  margin-top: -80px;
}

.nav {
  display: flex;
  padding: 0.5% 4%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  z-index: 10;
  background-color: #1118277a;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.35 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 1px;
border: 1px solid #1118277a;
  transition: 0.3s ease-in-out;
}

.logo {
  width: 65px;
}

.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  z-index: 200;
  color: white;
}


.hamburger:hover {
  color: rgb(200, 200, 200)
}

.links li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.links li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #6b21a8;
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.links li:hover::after {
  width: 100%;
}

.login-button {
  border: none;
  cursor: pointer;
  background-color: #6b21a8;
  border-radius: 4px;
}

.login-button a {
  display: block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0.1rem 0.3rem;
  color: #fff;
  height: 3.2rem;
  width: 14rem;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button a:hover {
  color: #ffffff;
}

.login-button:hover {
  background-color: #7321bc;
}

.menu {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 85px;
  left: 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.open {
  display: block;
  width: 60%;
  height: 100%;
  position: fixed;
  background-color: rgb(95, 127, 255);
  top: 0;
  left: 0;
  padding: 30px;
  animation: slideIn 0.5s ease-in-out;
  z-index: 100;
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .logo {
    width: 80px;
  }

  .hamburger {
    display: flex;
  }

  .login-button a {
    height: 2.9rem;
    width: 14rem;
  }
}

@media screen and (min-width: 650px) {
  .open {
    display: none;
  }

}

@keyframes slideIn {
  0% {
    left: -150px;
  }

  100% {
    left: 0px;
  }
}

.menu-link {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-link li {
  padding: 2rem;
  font-weight: bolder;
}

.menu-link li:last-child {
  padding-bottom: 0;
}

.menu-link li a {
  color: rgb(247, 245, 245);
  font-size: 1.15rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu-link li a:hover {
  z-index: 150;
  color: #111827;
}

header {
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./assets/home.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 110vh;
  margin-top: 5%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: #fff;
  margin: auto;
  text-align: center;
}

.content h1 {
  font-weight: 199px;
  font-size: 4rem;
  line-height: 4.563rem;
  text-align: center;
  color: #ffffff;
}

.content h3 {
  margin-top: 1rem;
  color: rgb(163, 158, 158);
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: rgb(180, 217, 240);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.btn1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 12rem;
  padding-left: 1.5rem;

  padding-right: 1.5rem; 
  background-color: #6366F1; 
  color: #ffffff; 
  border-radius: 0.25rem; 
 }
 .btn1:hover{
background-color: #4F46E5; 
 }
 .btn2{
  display: inline-flex; 
padding-top: 0.5rem;
margin-top: 12rem;
margin-left: 2rem;
padding-bottom: 0.5rem; 
padding-left: 1.5rem;
padding-right: 1.5rem; 
background-color: #1F2937; 
color: #9CA3AF; 
border-radius: 0.25rem; 
border-width: 0; 
 }
 .btn2:hover{
  background-color: #374151; 
color: #ffffff; 
 }
 #about {
  background-color: rgb(87 73 92);
  width: 100%;
  padding: 5px 0px;
  padding-top: 30px;
  padding-bottom: 100px;
}

#about h1 {
  color: rgb(208, 203, 203);
  font-size: 50px;
  margin: 20px 20px;
  font-weight: 400;
  text-align: center;
}

.about .max-width {
  color: rgb(201, 193, 193);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .about-content{
    order: 3;
  }

  .about .photo{
    margin-bottom: 2rem;
  }
}

.about-content p{
  max-width: 700px;
  padding: 0 1.5em;
  font-size: 20px;
  font-weight: 400;
  margin-left: 1em;
  margin-right: 1em;
}

.text-2{
  margin-top: 2rem;
}

 footer {
  background-color: #6366F1;
  color: #ffffff;
  border-radius: 0.25rem;
}



/* TESTIMONIALS AND CONTACT */

#Testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* footer section */

/* footer {
  position: relative;
  width: 100%;
  background-color: #111827;
  color: white;
  padding: 15px 0px;
  text-align: center;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0;
  gap: 0.3rem;

}

.icons ul {
  display: flex;
  margin: 0.7rem 0;
  padding: 0;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  margin: 0 0 0 20px;
  padding-top: 3px;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #fff;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

footer p {
  margin-top: 4px;
}

footer #email:hover {
  color: #7321bc;
}

.icons ul li a:hover {
  background-color: #7321bc;
  border: 2px solid #7321bc;
}

.icons ul li a .icon:hover {
  color: #fff;
}

.footlogo {
  width: 80px;
}
@media screen and (max-width: 366px) {
  .btn1{
    margin-top: 22rem;
    padding-right: 0.5rem;
  }
  .btn2{
    margin-top: 22rem;
    padding-right: 0.5rem;
  }
  .login-button a {
    font-weight: 400;
    margin: 0rem -2.7rem;
    height: 2.2rem;
    width: 14rem;
    letter-spacing: 0px;
    font-size: 11px;
  }
}
@media screen and (max-width: 426px){
  .logo {
    width: 70px;
  }

} */
body {
  background: #fbfbfd;
}
.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}
.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}
.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}
@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}
@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}
@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}
.site-footer
{
  background-color: #fbfbfd;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  /* color:#737373; */
  color: #000;
  text-align:center
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:20px;
}
.bold:hover{
color: #5e2ced;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:10;
  margin-bottom:10;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#333
}
.social-icons a.twitter:hover
{
  background-color:#1DA1F2
}
.social-icons a.linkedin:hover
{
  background-color:#0077b5
}
.social-icons a.extensiontarget:hover
{
  background-color:#e21717
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}